.icon-block {
    padding: 0 15px;
  }
  .icon-block .material-icons {
      font-size: inherit;
  }

  #index-banner{
    background-image:  url(../resources/fondoindex.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    max-width: 100%;
  }

  #second-banner{
    background-image:  url(../resources/fondoindex2.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    max-width: 100%;
  }

  nav .brand-logo, nav a, nav ul a {
    color: white;
  }

  body{
      background-color: #e8eaf6 ;
  }
  
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

/*ADMIN.HTML*/

#cabeza-admin, #pie-admin {
	padding-left: 300px;
}

@media only screen and (max-width : 992px) {
	#cabeza-admin,  #pie-admin {
		padding-left: 0;
	}
}
/*LOGIM.HTML*/
#body_login {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#main_login {
  flex: 1 0 auto;
}

#body_login {
  background: #fff;
}

.input-field input[type=date]:focus+label,
.input-field input[type=text]:focus+label,
.input-field input[type=email]:focus+label,
.input-field input[type=password]:focus+label {
  color: #e91e63;
}

.input-field input[type=date]:focus,
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
  border-bottom: 2px solid #e91e63;
  box-shadow: none;
}
